---
import "../styles/global.css"
import Nav from "../components/Nav"
import Sidebar from "../components/Sidebar"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title >Dashboard</title>
	</head>
	<body>
       <Nav client:load />
        <div class="flex">
            <aside class="sticky top-[navbar-height] h-[calc(100vh-navbar-height)] overflow-y-auto">
                <Sidebar client:load />
            </aside>
            <main class="flex-1 p-6">
                <slot />
            </main>
        </div>
</html>